{% load wagtailcore_tags %}

{% if COMMENTS_APP == 'django_comments_xtd' %}
<div class="row">
    <div class="col">
        <div id="comments" class="comments">
            {% include 'wagtail_bs_blog/blog_post_comments_xtd_link.html' with blog=page %}
        </div>
    </div>
</div>
{% endif %}

