{% load wagtailcore_tags %}

<div class="container">
    {% for content in page.get_contents %}

    <div class="row">
        <div class="col">
            {{ content.content }}
        </div>
    </div>
    {% endfor %}
</div>

