{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            {% include_block value.title %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-wrap text-break bd-highlight">
                {% include_block value.description %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-primary">{{ page.post_date|date:"F jS, Y" }} by</li>
                {% for author in page.related_authors.all %}
                <li class="list-group-item">
                    <a href="{% routablepageurl page.get_blog_index 'blog_author' author.author_page.slug %}">
                        {{ author.author_page.title }}
                    </a>
                    <a href="{% routablepageurl page.get_blog_index 'blogs_by_author' author.author_page.slug %}">
                        (more by {{ author.author_page.title }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
