{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% if page.categories.all %}
<div class="card categories">
    <div class="card-header">Category
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-horizontal-sm">
                {% for cat in page.categories.all %}
                <li class="list-group-item">
                    <a href="{% routablepageurl page.get_blog_index 'blogs_by_category' cat.blog_category.slug %}">{{ cat.blog_category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
