{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% if page.tags.all %}
<div class="card tags">
    <div class="card-header">Tags
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-horizontal-sm">
                {% for tag in page.tags.all %}
                <li class="list-group-item">
                    <a href="{% routablepageurl page.get_blog_index 'blogs_by_tag' tag.slug %}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
