{% load wagtailcore_tags static %}

<!--Pagination-->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for i in paginator.paginator.page_range %}
            {% if paginator.number == i %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<!--end of Pagination-->
