{% load static %}
{% load wagtailcore_tags static %}
{% load wagtailroutablepage_tags %}

<div class="container">
    {% if paginator %}
    <div class="list-group">
        {% for blog in paginator %}
        <a href="{% pageurl blog %}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ blog.title }}</h5>
                <small>by {{ blog.all_authors }}</p></small>
            </div>
            <p class="text-wrap text-break bd-highlight mb-1">{{ blog.description }}</p>
            <small>Posted on {{ blog.post_date|date:"F jS, Y" }}</small>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="row posts">
        <div class="col">
            <p>There are currently no blog posts</p>
        </div>
    </div>
    {% endif %}
</div>
