{% load wagtailcore_tags static %}
{% load wagtailroutablepage_tags %}

{%if page.get_categories %}
<div class="card categories">
    <div class="card-header">Category
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-horizontal-sm">
                {% for cat in page.get_categories %}
                <li class="list-group-item">
                    <a href="{% routablepageurl page 'blogs_by_category' cat.slug %}">{{ cat.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
