{% load static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailsettings_tags %}

<div class="container">
    {% if paginator %}
    <div class="row posts">
        <div class="col">
            <div class="card-deck">
                {% for blog in paginator %}
                <div class="col-md-6">
                    <div class="col-12 p-3">
                        <div class="card border-primary">
                            <a href="{% pageurl blog %}" >
                                <div class="card-header text-center">
                                    <h2>{{ blog.title }}</h2>
                                </div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.description }}</h5>
                                <a href="{% pageurl blog %}" class="btn card-link btn-primary" >Read the rest of this entry &raquo;</a>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text">Posted on {{ blog.post_date|date:"F jS, Y" }}
                                by {{ blog.get_authors }}</p>
                                <div class="card-text">
                                    {% if blog.tags.all %}
                                    <ul class="list-group list-group-horizontal-sm">
                                        <li class="list-group-item list-group-item-primary">Tags</li>
                                        {% for tag in blog.tags.all %}
                                        <li class="list-group-item">{{ tag }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if blog.categories.all %}
                                    <ul class="list-group list-group-horizontal-sm">
                                        <li class="list-group-item list-group-item-primary">Category</li>
                                        {% for cat in blog.categories.all %}
                                        <li class="list-group-item">{{ cat.blog_category.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row posts">
        <div class="col">
            <p>There are currently no blog posts</p>
        </div>
    </div>
    {% endif %}
</div>
