{% load wagtailcore_tags static %}
{% load wagtailroutablepage_tags %}

{% if page.get_tags %}
<div class="card tags">
    <div class="card-header">Tags
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-horizontal-sm">
                {% for tag in page.get_tags %}
                <li class="list-group-item">
                    <a href="{% routablepageurl page 'blogs_by_tag' tag.slug %}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
