{% load wagtailcore_tags static %}

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            {% include_block value.header %}
        </div>
    </div>
    {% if page.category %}
    <div class="row meta">
        <div class="col">
            <h3>Posts in category <i>{{ page.category }}</i></h1>
        </div>
    </div>
    {% endif %}
    {% if page.tags %}
    <div class="row meta">
        <div class="col">
            <h3>Posts tagged with <i>{{ page.tags }}</i></h2>
        </div>
    </div>
    {% endif %}
</div>

