// open sans light for blog design (can't edit pdxnet old typekit)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

// wp fixes

header {
    top: 0;
    left: 0;
}

a:hover, a:focus {
    text-decoration: none !important;
    outline: none;
}

.ff-meta {
    visibility: visible;
}

.admin-bar {
    header {
        top: 32px;

        @media(max-width: 782px) {
            top: 46px;
        }
    }
}

.blog-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 66px;

    .single-post & {
        margin-bottom: 30px;
    }

    p, h1 {
        color: #1F2122;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }

    .post-meta {
        color: #8A8C92;
        margin-top: 24px;
        font-size: 14px;

        span {
            margin: 0 7px;
        }
    }

}


.blog-posts {
    margin-top: 150px;
    padding-bottom: 100px;

    .post {
        float: left;
        margin-bottom: 16px;
        width: 50%; line-height: 0;

        @media(min-width: 993px) {
            padding: 0 8px;
        }

        a {
            display: inline-block;
            width: 100%;
            transition: opacity 150ms ease-in-out;

            &:hover {
                opacity: .6;
            }
        }

        .innerwrap {
            position: relative;
        }

        .image-wrap {
            padding-bottom: 94%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .text {

            &.over {
                position: absolute;
                bottom: 40px;
                left: 30px;
                width: 90%;
                z-index: 2;
            }

            &.under {
                margin-top: 26px;
                margin-bottom: 10px;
                min-height: 160px;

                h2 {
                    font-size: 10px;
                }

                p {
                    color: #000;

                    &.date {
                        color: #888;
                    }
                }
            }

            h2 {
                color: #B8C030;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: .9px;
                margin: 0;
                padding: 0;
            }

            p {
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 300 !important;
                line-height: 28px;
                margin-top: 20px;
                padding: 0;

                &.date {
                    font-size: 12px;
                    line-height: 0;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 100%);
            z-index: 1;
        }
    }

    .top-row {
        width: 100%;
        margin-bottom: 74px;

        @media (min-width: 993px) {
            margin-left: -8px;
            margin-right: -8px;
        }

        .post {
            &:not(.num1) {
                width: 25%;
            }

            .text {
                h2 {
                    color: #C4CD23;
                }
            }
        }

        .text.under {
            display: none;
        }

        @media (max-width: 992px) {
            margin-bottom: 0;

            .post {

                &.num1 {
                    width: 100%;

                    .image-wrap {
                        padding-bottom: 54%;
                    }
                }

                &:not(.num1) {
                    width: 50%;

                    .image-wrap {
                        padding-bottom: 54%;
                    }

                    &:nth-child(even) {
                        padding-right: 8px;
                    }
                    &:nth-child(odd) {
                        padding-left: 8px;
                    }
                }
            }

        }

        @media(max-width: 767px) {
            .post {
                &:not(.num1) {
                    width: 100%;

                    &:nth-child(even) {
                        padding-right: 0;
                    }
                    &:nth-child(odd) {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .bottom-row {
        width: 66%;
        display: inline-block;

        @media (min-width: 993px) {
            margin-left: -8px;
            margin-right: -8px;
        }

        .post {
            .image-wrap {
                padding-bottom: 70%;
            }
        }

        .text.over, .overlay {
            display: none;
        }

        @media (max-width: 992px) {

            .post {
                .image-wrap {
                    padding-bottom: 54%;
                }

                &:nth-child(odd) {
                        padding-right: 8px;
                }
                &:nth-child(even) {
                    padding-left: 8px;
                }
            }

            .text.over, .overlay {
                display: block
            }

            .text.under {
                display: none;
            }
        }

        @media(max-width: 767px) {

            .post {
                width: 100%;

                &:nth-child(odd) {
                    padding-right: 0;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }

            }
        }
    }

    .blog-sidebar {
        width: calc(34% - 38px);

        @media (min-width: 993px) {
            margin-left: 22px;
            margin-right: 16px;
            float: right;
        }

        .col-section {
            background-color: #fff;
            margin-bottom: 20px;
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.04);
        }

        .innerwrap {
            padding: 40px 40px 50px 40px;
        }

        h2 {
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            color: #1F2122;
            padding: 0;
            margin-bottom: 28px;
        }

        .blog-categories {

            .categories {

                li {
                    list-style: none;
                    width: 100%;
                    clear: both;
                    line-height: 1.2;
                    margin-bottom: 26px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: #488EBE;
                        font-size: 14px;
                        font-weight: 700;
                        text-decoration: none;
                        transition: color 150ms;

                        &:hover {
                            color: #367098;
                        }
                    }

                    span {
                        color: #488EBE;
                        float: right;
                        font-size: 14px;
                        font-weight: 700;
                        margin-top: 2px;
                    }

                    &.current-cat {
                        a {
                            color: #367098;

                            &:hover {
                                color: #367098;
                            }
                        }
                    }
                }
            }
        }

        .blog-quote {

            .innerwrap {
                padding-left: 25px;
                padding-right: 25px;
            }

            .quote-text p {
                color: #1F2122;
                text-align: center;
                font-size: 26px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }

    @media (max-width: 992px) {

        .bottom-row, .blog-sidebar {
            width: 100%;
            float: none;
            display: block;
        }

    }

    .hrl-pagination {
        margin-top: 30px;

        .page-numbers {
            font-weight: 500;
            color: #1F2122;
            display: inline-block;
            padding: 16px 22px;
            text-decoration: none;
            border: 1px solid transparent;

            &.current {
                border: 1px solid #488EBE;

                &:hover {
                    border: 1px solid #367098;
                }
            }

            &:hover {
                border-color: #ccc;
            }

            &.dots {
                border-color: transparent !important;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &.hrl-mobile {
            margin-bottom: 50px;
        }
    }

    .social-links {
        margin-top: 100px;

        .item {
            &:not(:last-child) {
                margin-right: 20px;
            }

            &:first-child {
                margin-right: 45px;
            }

            &.title {
                color: #3E3E3E;
                font-size: 26px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
            }

            a {
                color: #D3D3D3;
                font-size: 28px;
                transition: color 150ms;
            }
        }

        @media(max-width: 549px) {
            margin-top: 40px;

            .item {
                &.title {
                    display: block;
                    margin-bottom: 14px;
                }
            }
        }
    }

    /////////////////  BLOG DETAIL PAGES

    .single-post & {

        .hero-image {
            margin-bottom: 50px;

            img {
                min-width: 100%;
            }

            @media (max-width: 992px) {
                margin-bottom: 20px;
            }

        }

        .post-content {
            color: #3E3E3E;

            h1, h2 {
                color: #488EBE;
                font-family: 'Open Sans', sans-serif;
                font-size: 26px;
                font-weight: 300;
                line-height: 1.3;
                padding-bottom: 0;
                margin-bottom: 20px;
            }

            p, ul li, ol li, a {
                font-size: 14px;
                line-height: 28px;
            }

            ul, ol, li {
                margin-bottom: 20px;
            }

            ul {
                padding: 0;
                margin-left: 0;

                li {
                    padding-left: 42px;
                    position: relative;

                    &:before {
                        content: "• ";
                        color: #488EBE;
                        font-size: 38px;
                        position: absolute;
                        left: 10px;
                    }
                }
            }

            hr {
                border-top: 1px solid #488EBE;
                margin-bottom: 40px;
            }

            img {
                height: auto !important;

                &.alignleft {
                    float: left;
                    padding-right: 20px;
                }

                &.alignright {
                    float: right;
                    padding-left: 20px;
                }

                &.alignnone {
                    display: inline-block;
                }

                &.aligncenter {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .share-links {
            @media(min-width: 993px) {
                margin-top: 20px;
            }

            .title {
                color: #1F2122;
                margin-right: 20px;
                font-size: 16px;

                @media(max-width: 549px) {
                    display: block;
                    margin-bottom: 14px;
                }
            }

            a {
                color: #D3D3D3;
                display: inline-block;
                font-size: 30px;
                padding: 10px 12px;
                border: 1px #D3D3D3 solid;
                margin-bottom: 10px;
                transition: color 150ms, border-color 150ms;
                line-height: 0;
                margin-right: 8px;

                @media (max-width: 992px) {
                    font-size: 20px;
                    padding: 8px 10px;
                }

                &.facebook:hover {
                    color: #32529F;
                    border-color: #32529F;
                }

                &.twitter:hover {
                    color: #0098E7;
                    border-color: #0098E7;
                }

                &.pinterest:hover {
                    color: #E8151D;
                    border-color: #E8151D;
                }

                &.email:hover {
                    color: #B9BD71;
                    border-color: #B9BD71;
                }

                &:focus {
                    text-decoration: none;
                }
            }

            @media (min-width: 992px) {
                text-align: center;
                margin-top: 0;

                span {
                    display: block;
                }

                .title {
                    font-size: 11px;
                    margin-bottom: 15px;
                    margin-right: 0;
                }

                a {
                    margin-right: 0;
                }
            }
        }

        .related-posts {
            margin-top: 100px;

            .restrict-width {
                max-width: 80%;
                margin: 0 auto;
            }

            .padding-fix {
                @media(min-width: 993px) {
                    margin-left: -8px;
                    margin-right: -8px;
                }
            }

            .post {

                .image-wrap {
                    padding-bottom: 68%;
                }
            }

            .text {
                margin-bottom: 0;
                min-height: 160px;
            }

            @media (max-width: 450px) {
                .post {
                    float: none;
                    width: 100%;

                    h2 {
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

//blog newsletter signup form
.hrl-form.email-signup {
    position: relative;

    .gform_wrapper {
        margin: 0 !important;
    }

    label {
        display: none !important;
    }

    li {
        padding: 0 !important;
        margin: 0 !important;
    }

    input {
        padding: 10px 20px !important;
        border: 1px solid #488EBE;

        &[type=submit] {
            background-color: #488EBE !important;
            margin: 0 !important;
            border-radius: 0 !important;
            border: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            padding: 14px 0 !important;

            &:hover {
                background-color: #367098 !important;
            }
        }
    }

    .ginput_container_email {
        position: relative;
    }

    .gform_footer {
        padding: 0 !important;
    }

    .sbtn {
        color: #488EBE;
        position: absolute;
        right: 0;
        top: 50%;
        cursor: pointer;
        padding: 13px 10px;
        transform: translateY(-50%);
        transition: color 150ms, padding 150ms;
        z-index: 5;

        &:hover {
            color: #367098;
            padding: 13px 6px 13px 14px;
        }
    }

}



// Juicer Social Feed
.juicer-social-feed {
    margin-top: 60px;

    ul.juicer-feed {
        overflow-y: hidden !important;

        li {
            cursor: pointer;
        }
    }

    .j-message {
        p, a {
            font-size: 16px;
            font-weight: 400 !important;
        }

        a {
            color: #488EBE !important;
            transition: color 150ms;

            &:hover {
                color: #367098 !important;
            }
        }
    }

    .j-facebook, .j-instagram {

        .j-meta nav {
            margin: 0 !important;
        }
    }

    .btn-wrapper {
        margin-top: 50px;
    }
}

.hrl-mobile {
    display: none;

    @media (max-width: 992px) {
        display: block;
    }
}

.hrl-desk {
    @media (max-width: 992px) {
        display: none;
    }
}

// wp native gallery fixes
.gallery {
    margin-bottom: 30px !important;

    .gallery-item {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        border: none !important;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.3);
        transition: opacity 150ms;
    }

    a {
        &:hover {
            img {
                opacity: .6;
            }
        }
    }

    @media(max-width: 499px) {
        dl.gallery-item {
            width: 100% !important;
        }
    }

}